<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @word.name %>
</p>

<h2>Pronunciations</h2>
<%= render :partial => "pronunciations/pronunciation",
           :collection => @word.pronunciations %>

<h2>Add a pronunciation:</h2>
<%= form_for([@word, @word.pronunciations.build]) do |f| %>
  <div class="field">
    <%= f.label :arpabet %><br />
    <%= f.text_field :arpabet %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<br />

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %>
