!!!
%html
  %head
    %title Pron
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = stylesheet_link_tag '/stylesheets/blueprint/screen', media: 'screen, projection'
    = stylesheet_link_tag '/stylesheets/blueprint/print', media: 'print'
    /[if IE]
      = stylesheet_link_tag '/stylesheets/blueprint/ie', media: 'screen, projection'
  %body
    .container
      %h1.push-6 English Pronunciation Search
      = yield
    .container#debug